.hero-screen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat center url("mango.bg"); /* Путь к картинке */
  background-size: 1000px; /* Растягиваем  фон по высоте и ширине */
  height: 800px; /* Высота блока */
}
.header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width:1000px;
  padding: 0 28px 0 28px; 

}
